* {
    padding: 0px;
    margin: 0px; 
}

body {
    background-color: rgba(0, 0, 0, 0.79);
}

h1 {
    color: #FFF;
    text-transform: uppercase;
    padding-left: 30px;
    padding-top: 30px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    background: -webkit-linear-gradient(left, rgba(153, 153, 153, 0.44), rgba(0, 0, 0, 0.79) 100%);
    background: linear-gradient(to right, rgba(153, 153, 153, 0.44), rgba(0, 0, 0, 0.79) 100%); 
    overflow: hidden;
}

.left-container {
    width: 40%;
    float: left;
    padding: 30px;
}

.right-container {
    width: 40%;
    float: right;
    padding: 30px;
}

figure {
    width: 70px;
    margin: 0 1px 0 1px;
    height: 96px;
    float: left;
    overflow: hidden;
    border: 1px solid #DADADA;
}

.images-container {
    width: 211px;
    height: 150px;
    float: left;
    overflow: auto;
    border: 2px solid rgb(168, 123, 123);
    border-radius: 5px;
}

.images-wrapper {
    overflow: hidden;
    margin-top: -70px;
}

.images-container .image {
    width: 33.3%;
    height: 100px;
    float: left;
}

.start {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    float: left;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #FDFDFD;

    -webkite-transition: all 2s ease;
    transition: all 2s ease;
}

.start:hover {
    background-color: #895C61;
}